@font-face {
  font-family: "OpenSans";
  src: href("%PUBLIC_URL%/fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: href("%PUBLIC_URL%/fonts/Poppins/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
hr {
  height: 1px;
  background: #ebeff2;
  border: 0;
}
.chat_info a {
  color: gray;
}
.wrapper {
  display: flex;
  max-height: 100vh;
}

.header_content {
  flex: 8;
  background: #f5f6f8;
  height: 100vh;
}
.chat {
  z-index: 1;
  flex: 3;
  height: 100vh;
  max-width: 256px;
  box-shadow: 6px 0px 18px 0px #0000000f;
}
.chat_link a {
  margin-left: 24px;
  text-decoration: none;
  font-family: "OpenSans";
  font-size: 18px;
}
.chat_link {
  height: 43px;
  margin-top: 17px;
}
.chat_contact {
  font-family: Poppins;
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
}
.chat_profile {
  margin-right: 10px;
}
.chat_info {
  margin-right: 24px;
  align-items: center;
  margin-top: 5px;
}

.chat_contact p {
  font-size: 14px;
}
.chat_contact a {
  font-size: 11px;
}
.chat_panel {
  margin-top: 41.5px;
}
.chat_panel a {
  display: flex;
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 20px;
  color: darkblue;
}

.chat_panel ul {
  list-style-type: none;
  margin-right: 0px;
  margin-left: 26.5px;
}
.chat_panel li {
  padding-left: 31.5px;
}

.dashboard {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 8.13333C1.33431 8.13333 1.2 7.99902 1.2 7.83333V1.5C1.2 1.33431 1.33431 1.2 1.5 1.2H6.16667C6.33235 1.2 6.46667 1.33431 6.46667 1.5V7.83333C6.46667 7.99902 6.33235 8.13333 6.16667 8.13333H1.5ZM1.5 14.8C1.33431 14.8 1.2 14.6657 1.2 14.5V11.5C1.2 11.3343 1.33431 11.2 1.5 11.2H6.16667C6.33235 11.2 6.46667 11.3343 6.46667 11.5V14.5C6.46667 14.6657 6.33235 14.8 6.16667 14.8H1.5ZM9.83333 14.8C9.66765 14.8 9.53333 14.6657 9.53333 14.5V8.16667C9.53333 8.00098 9.66765 7.86667 9.83333 7.86667H14.5C14.6657 7.86667 14.8 8.00098 14.8 8.16667V14.5C14.8 14.6657 14.6657 14.8 14.5 14.8H9.83333ZM9.53333 1.5C9.53333 1.33431 9.66765 1.2 9.83333 1.2H14.5C14.6657 1.2 14.8 1.33431 14.8 1.5V4.5C14.8 4.66569 14.6657 4.8 14.5 4.8H9.83333C9.66765 4.8 9.53333 4.66569 9.53333 4.5V1.5Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3C/svg%3E%0A");
}
.tasks {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49996 1.2H15.6666C15.7384 1.2 15.8 1.2616 15.8 1.33333V6.33333C15.8 6.40507 15.7384 6.46667 15.6666 6.46667H1.49996C1.42823 6.46667 1.36663 6.40507 1.36663 6.33333V1.33333C1.36663 1.2616 1.42823 1.2 1.49996 1.2ZM1.49996 9.53333H15.6666C15.7384 9.53333 15.8 9.59493 15.8 9.66667V14.6667C15.8 14.7384 15.7384 14.8 15.6666 14.8H1.49996C1.42823 14.8 1.36663 14.7384 1.36663 14.6667V9.66667C1.36663 9.59493 1.42823 9.53333 1.49996 9.53333Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3C/svg%3E%0A");
}
.email {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.37496 5.0005V4.99992C2.37496 4.46528 2.80778 4.03325 3.33329 4.03325H16.6666C17.1967 4.03325 17.6333 4.46985 17.6333 4.99992V14.9999C17.6333 15.53 17.1967 15.9666 16.6666 15.9666H3.33329C2.80331 15.9666 2.36677 15.5301 2.36663 15.0002C2.36663 15.0001 2.36663 15 2.36663 14.9999L2.37496 5.0005Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3Cpath d='M2.5 5L10 10L17.5 5' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3C/svg%3E ");
}
.contacts {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.81118 6.11106C6.81118 4.34905 8.23806 2.92217 10.0001 2.92217C11.7621 2.92217 13.189 4.34904 13.189 6.11106C13.189 7.87307 11.7621 9.29995 10.0001 9.29995C8.23806 9.29995 6.81118 7.87307 6.81118 6.11106ZM2.92229 14.8611C2.92229 14.4716 3.11181 14.0787 3.54729 13.6768C3.98752 13.2705 4.63079 12.904 5.39805 12.5966C6.9337 11.9814 8.78966 11.6722 10.0001 11.6722C11.2105 11.6722 13.0664 11.9814 14.6021 12.5966C15.3693 12.904 16.0126 13.2705 16.4528 13.6768C16.8883 14.0787 17.0778 14.4716 17.0778 14.8611V17.0777H2.92229V14.8611Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3C/svg%3E ");
}
.chats {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M4.99996 14.3001H4.71001L4.50499 14.5051L2.36663 16.6435V3.33342C2.36663 2.80335 2.80323 2.36675 3.33329 2.36675H16.6666C17.1967 2.36675 17.6333 2.80335 17.6333 3.33342V13.3334C17.6333 13.8635 17.1967 14.3001 16.6666 14.3001H4.99996Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}
.deals {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.49996 4.03325H17.5C17.5717 4.03325 17.6333 4.09485 17.6333 4.16659V15.8333C17.6333 15.905 17.5717 15.9666 17.5 15.9666H2.49996C2.42823 15.9666 2.36663 15.905 2.36663 15.8333V4.16659C2.36663 4.09485 2.42823 4.03325 2.49996 4.03325Z' stroke='%23C2CFE0' stroke-width='1.4'/%3E%3Crect x='6.5' y='3.33325' width='1.16667' height='13.3333' fill='%23C2CFE0'/%3E%3Crect x='12.3334' y='3.33325' width='1.16667' height='13.3333' fill='%23C2CFE0'/%3E%3C/svg%3E ");
}
.chat_panel hr {
  margin-top: 26.5px;
}
.settings {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00004 8.33325C4.08337 8.33325 3.33337 9.08325 3.33337 9.99992C3.33337 10.9166 4.08337 11.6666 5.00004 11.6666C5.91671 11.6666 6.66671 10.9166 6.66671 9.99992C6.66671 9.08325 5.91671 8.33325 5.00004 8.33325ZM15 8.33325C14.0834 8.33325 13.3334 9.08325 13.3334 9.99992C13.3334 10.9166 14.0834 11.6666 15 11.6666C15.9167 11.6666 16.6667 10.9166 16.6667 9.99992C16.6667 9.08325 15.9167 8.33325 15 8.33325ZM10 8.33325C9.08337 8.33325 8.33337 9.08325 8.33337 9.99992C8.33337 10.9166 9.08337 11.6666 10 11.6666C10.9167 11.6666 11.6667 10.9166 11.6667 9.99992C11.6667 9.08325 10.9167 8.33325 10 8.33325Z' fill='%23C2CFE0'/%3E%3C/svg%3E ");
}

.header {
  min-height: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
}
.header_input input {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9167 9.66667H10.2583L10.025 9.44167C10.8417 8.49167 11.3333 7.25833 11.3333 5.91667C11.3333 2.925 8.90833 0.5 5.91667 0.5C2.925 0.5 0.5 2.925 0.5 5.91667C0.5 8.90833 2.925 11.3333 5.91667 11.3333C7.25833 11.3333 8.49167 10.8417 9.44167 10.025L9.66667 10.2583V10.9167L13.8333 15.075L15.075 13.8333L10.9167 9.66667ZM5.91667 9.66667C3.84167 9.66667 2.16667 7.99167 2.16667 5.91667C2.16667 3.84167 3.84167 2.16667 5.91667 2.16667C7.99167 2.16667 9.66667 3.84167 9.66667 5.91667C9.66667 7.99167 7.99167 9.66667 5.91667 9.66667Z' fill='%23C2CFE0'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  padding-left: 30px;
  min-width: 130px;
  outline: none;
  border: 0;
  margin-left: 38.5px;
}
.content_main {
  margin-top: 35px;
  margin-left: 36px;
  background: #f5f6f8;
  width: 95%;
  height: 82vh;
}
.content_h {
  height: min-content;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  align-items: flex-end;
}
.content {
  min-height: min-content;
}
.button {
  width: 160px;
  height: 42px;
  background: #109cf1;
  border: 0;
  border-radius: 4px;
  color: #fff;
}
select {
  font-family: Poppins;
  font-size: 12px;
  color: #109cf1;
  min-width: 60px;
  border: 0;
  box-sizing: content-box;
  outline: none;
  background: #f5f6f8;
}
form p {
  color: #aeaeae;
}
.content_table {
  margin-top: 24px;
  background: #fff;
  min-height: 100%;
}
