.dashboard {
  display: flex;
  margin-top: 35px;
  margin-left: 36px;
  margin-right: 38px;
  margin-bottom: 36px;
  .dhb_tasks {
    min-width: 700px;
    background: green;
  }
  .dhb_graphic {
    min-height: 418px;
    min-width: 445px;
    margin-left: 30px;
    .deals_graphic {
      min-width: 540px;
      min-height: 290px;
      background:white;
    }
    .tasks_chart {
      background: white;
      margin-top: 30px;
      min-width: 540px;
      min-height: 290px;
    }
  }
}
